<div id="levelPluginLayer" style="height: 100%; overflow: hidden; position: relative; width: 100%;">
    <div id="levelPluginContentLayer" style="height: 100%;
                                        left: 0;
                                        position: relative;
                                        top: 0;
                                        width: 100%;
                                        ">
        <div id="filterLayer" style="left: 0;
                                opacity: 1.0;
                                position: absolute;
                                top: 0;
                                width: 100%;
                                z-index: 1000;
                                mix-blend-mode: overlay;
                                pointer-events: none;
                                -webkit-transition-property: background-color; /* Safari */
                                transition-property: background-color;
                                -webkit-transition-duration: 10s;
                                transition-duration: 10s;
                                "></div>
        <video loop muted autoplay id="levelBackwardVideo" webkit-playsinline
                style="left: 0; position: absolute; top: 0; width: 100%; z-index: 1;"></video>
        <video loop muted autoplay id="levelForwardVideo" webkit-playsinline
                style="left: 0; position: absolute; top: 0; width: 100%; z-index: 2;"></video>
    </div>
</div>
<!-- <source src="plugins/pl.appivity.levelplugin/assets/levelbackward.mp4" type="video/mp4"> -->
<!-- <source src="plugins/pl.appivity.levelplugin/assets/levelforward.mp4" type="video/mp4"> -->